
body {
    font-family: 微軟正黑體, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif ;
}


.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

.page-title {
    padding: 0px;
    margin: 15px 0px 20px 0px;
    font-family: 微軟正黑體, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3c8dbc;
    font-weight:bold;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

.showTitle {
    font-family: 微軟正黑體, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
} */
